# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*dist/
*.egg-info/
venv/
.env
*.env

# Terraform artifacts
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
crash.log
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/darwin_arm64/terraform-provider-aws_v4.67.0_x5