# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*dist/
*.egg-info/
venv/
.env
*.env

# Terraform artifacts
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
crash.log